/* EMPIEZA EL NAV */
* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}
nav .segundo {
  font-family: "Lora", serif;
  margin-left: 1rem;
}

ul li .magdalena {
  width: 1rem;
  height: 1.5rem;
  margin-left: 1rem;
}

ul .primero {
  font-family: "Lora", serif;
}
ul .primero .primero:hover {
  border-bottom: solid 2px;
  color: black;
  font-weight: bolder;
}

ul .lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}
ul .lista .iconos {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  ul .lista .iconos {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  ul .lista .iconos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    width: 100%;
  }
}

/*TERMINA EL NAV */
/* aqui empieza footer */
.footer {
  box-shadow: 2rem 2rem 2rem 2.3rem beige;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: auto;
    width: 100%;
  }
}
.footer__bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vh;
  gap: 8rem;
}
@media screen and (max-width: 576px) {
  .footer__bloque {
    gap: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__bloque {
    margin-left: 0rem;
    gap: 3rem;
  }
}
.footer__bloque .icono {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e2e3e5;
  color: black;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .footer__lista {
    padding-left: 0rem;
    display: flex;
    gap: 1rem;
  }
}

.footer__tittle p {
  font-family: "Lora", serif;
  font-weight: bold;
}

/* aqui termina footer */
/* EMPIEZA EL NAV */
* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}
nav .segundo {
  font-family: "Lora", serif;
  margin-left: 1rem;
}

ul li .magdalena {
  width: 1rem;
  height: 1.5rem;
  margin-left: 1rem;
}

ul .primero {
  font-family: "Lora", serif;
}
ul .primero .primero:hover {
  border-bottom: solid 2px;
  color: black;
  font-weight: bolder;
}

ul .lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}
ul .lista .iconos {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  ul .lista .iconos {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  ul .lista .iconos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    width: 100%;
  }
}

/*TERMINA EL NAV */
/* aqui empieza footer */
.footer {
  box-shadow: 2rem 2rem 2rem 2.3rem beige;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: auto;
    width: 100%;
  }
}
.footer__bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vh;
  gap: 8rem;
}
@media screen and (max-width: 576px) {
  .footer__bloque {
    gap: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__bloque {
    margin-left: 0rem;
    gap: 3rem;
  }
}
.footer__bloque .icono {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e2e3e5;
  color: black;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .footer__lista {
    padding-left: 0rem;
    display: flex;
    gap: 1rem;
  }
}

.footer__tittle p {
  font-family: "Lora", serif;
  font-weight: bold;
}

/* aqui termina footer */
* {
  margin: 0;
  padding: 0;
}

/* LA SECCION PRINCIPAL */
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.diseno {
  width: auto;
  max-width: 100%;
  padding-top: 2rem;
  height: 55vh;
  display: flex;
  margin: 0 auto;
}

.aside p {
  color: #900c3f;
  font-family: "Dancing Script", cursive;
  font-family: "Lora", serif;
  text-shadow: 0px 0px 30px #fcc8d1;
  margin-bottom: 2rem;
  margin-top: 7rem;
}
@media screen and (max-width: 576px) {
  .aside p {
    font-size: 5rem;
    padding: 2rem;
  }
}

.section {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20221111/pngtree-hand-drawn-confectionery-bakery-homemade-biscuits-image_1461993.jpg);
  height: auto;
  border-style: outset;
  z-index: 1;
  padding: 2rem;
}
.section__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  .section__items {
    display: flex;
    flex-direction: column;
    margin: 0% 30%;
  }
}

.section .panel {
  border-radius: 48%;
  height: 12rem;
  width: 12rem;
  border-color: white;
  border-width: 5px;
  border: 2px white;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .section .panel {
    width: 10rem;
    height: 9rem;
    margin-top: -1.3rem;
    box-shadow: 10px 5px 5px 6px white;
    padding: 0% auto;
  }
}
@media screen and (max-width: 576px) {
  .section .panel {
    width: 8rem;
    height: 8rem;
    box-shadow: 10px 5px 5px 6px white;
    margin-top: -1.3rem;
  }
}

.article {
  background-size: cover;
  align-items: center;
  background-image: url(https://img.freepik.com/fotos-premium/cerrar-verter-salpicaduras-corona-chocolate-liquido-piscina-chocolate-vista-lateral-ondas-circulares_659151-1025.jpg?w=996);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15rem;
}
@media screen and (max-width: 1024px) {
  .article {
    gap: 9rem;
  }
}
@media screen and (max-width: 768px) {
  .article {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.5rem;
    margin-top: 4.5rem;
  }
}
.article__contenedor {
  width: 14rem;
  height: auto;
  box-shadow: 0 0 5px #fcc8d1;
  background-color: white;
  padding: 0rem;
}
.article__contenedor .tapa {
  width: 14rem;
  height: 16rem;
}
.article__contenedor .tapa .texto1 {
  font-family: "Lora", serif;
  width: 13rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0rem;
}

/* TERMINA LA SECCION PRINCIPAL */
/* EMPIEZA EL NAV */
* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}
nav .segundo {
  font-family: "Lora", serif;
  margin-left: 1rem;
}

ul li .magdalena {
  width: 1rem;
  height: 1.5rem;
  margin-left: 1rem;
}

ul .primero {
  font-family: "Lora", serif;
}
ul .primero .primero:hover {
  border-bottom: solid 2px;
  color: black;
  font-weight: bolder;
}

ul .lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}
ul .lista .iconos {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  ul .lista .iconos {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  ul .lista .iconos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    width: 100%;
  }
}

/*TERMINA EL NAV */
/* aqui empieza footer */
.footer {
  box-shadow: 2rem 2rem 2rem 2.3rem beige;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: auto;
    width: 100%;
  }
}
.footer__bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vh;
  gap: 8rem;
}
@media screen and (max-width: 576px) {
  .footer__bloque {
    gap: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__bloque {
    margin-left: 0rem;
    gap: 3rem;
  }
}
.footer__bloque .icono {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e2e3e5;
  color: black;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .footer__lista {
    padding-left: 0rem;
    display: flex;
    gap: 1rem;
  }
}

.footer__tittle p {
  font-family: "Lora", serif;
  font-weight: bold;
}

/* aqui termina footer */
/* aqui empieza la seccion de empresa */
* {
  margin: 0;
  padding: 0;
}

ul .lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}
ul .lista .iconos {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  ul .lista .iconos {
    display: none;
  }
}

.clientes {
  margin-top: 5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.clientes .img-1 {
  height: 20rem;
  width: 17rem;
  box-shadow: 5px 5px 15px #053b50;
  border-radius: 8%;
}
@media screen and (max-width: 768px) {
  .clientes .img-1 {
    height: 15rem;
    width: 11rem;
  }
}
.clientes .img-2 {
  height: 20rem;
  width: 17rem;
  box-shadow: 5px 5px 15px #053b50;
  border-radius: 8%;
}
@media screen and (max-width: 768px) {
  .clientes .img-2 {
    height: 15rem;
    width: 11rem;
  }
}
.clientes .img-3 {
  height: 20rem;
  width: 17rem;
  box-shadow: 5px 5px 15px #053b50;
  border-radius: 8%;
}
@media screen and (max-width: 768px) {
  .clientes .img-3 {
    height: 15rem;
    width: 11rem;
  }
}
.clientes .img-4 {
  height: 20rem;
  width: 17rem;
  box-shadow: 5px 5px 15px #053b50;
  border-radius: 8%;
}
@media screen and (max-width: 768px) {
  .clientes .img-4 {
    height: 15rem;
    width: 11rem;
  }
}

@media screen and (max-width: 576px) {
  .clientes .img-1 {
    display: flex;
    margin: auto;
  }
}

.clientes .img-2 {
  margin-top: 2rem;
  margin-left: -1.5rem;
}
@media screen and (max-width: 576px) {
  .clientes .img-2 {
    display: flex;
    margin: auto;
    margin-top: -0.5rem;
  }
}

.clientes .img-3 {
  margin-left: -1rem;
}
@media screen and (max-width: 576px) {
  .clientes .img-3 {
    display: flex;
    margin: auto;
  }
}

.clientes .img-4 {
  margin-left: -1rem;
  margin-top: -1.7rem;
}
@media screen and (max-width: 576px) {
  .clientes .img-4 {
    display: flex;
    margin: auto;
  }
}

.empresa {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .empresa {
    display: flex;
    flex-direction: column;
  }
}
.empresa .segmento-1 {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 152, 155) 0.1%, rgb(0, 94, 120) 94.2%);
  color: white;
  width: 50%;
  margin-top: 6rem;
  padding: 1.8rem;
}
@media screen and (max-width: 576px) {
  .empresa .segmento-1 {
    width: 100%;
  }
}
.empresa .segmento-1 .gift1 {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
  display: block;
  justify-content: center;
  border-radius: 48%;
}

.empresa .segmento-2 {
  margin-top: 5rem;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 152, 155) 0.1%, rgb(0, 94, 120) 94.2%);
  padding: 1rem;
  color: white;
  width: 50%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .empresa .segmento-2 {
    width: 100%;
  }
}
.empresa .segmento-2 .gift1 {
  width: 4rem;
  height: 4rem;
  text-align: center;
  margin-bottom: 0.5rem;
  border-radius: 48%;
}

.empresa .segmento-1 .text-center-m {
  font-size: 1.6rem;
  font-family: "Lora", serif;
}
@media screen and (max-width: 768px) {
  .empresa .segmento-1 .text-center-m {
    font-size: 1.5rem;
  }
}

.empresa .segmento-1 .text-center-s {
  font-size: 1.3rem;
  font-family: "Lora", serif;
}
@media screen and (max-width: 768px) {
  .empresa .segmento-1 .text-center-s {
    font-size: 1.1rem;
  }
}

.empresa .segmento-2 .text-center-m {
  font-size: 1.6rem;
  font-family: "Lora", serif;
}
@media screen and (max-width: 768px) {
  .empresa .segmento-2 .text-center-m {
    font-size: 1.5rem;
  }
}

.empresa .segmento-2 .text-center-s {
  font-size: 1.3rem;
  font-family: "Lora", serif;
}
@media screen and (max-width: 768px) {
  .empresa .segmento-2 .text-center-s {
    font-size: 1.1rem;
  }
}

/* aqui termina laa seccicon de empresa */
/* EMPIEZA EL NAV */
* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}
nav .segundo {
  font-family: "Lora", serif;
  margin-left: 1rem;
}

ul li .magdalena {
  width: 1rem;
  height: 1.5rem;
  margin-left: 1rem;
}

ul .primero {
  font-family: "Lora", serif;
}
ul .primero .primero:hover {
  border-bottom: solid 2px;
  color: black;
  font-weight: bolder;
}

ul .lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}
ul .lista .iconos {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  ul .lista .iconos {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  ul .lista .iconos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    width: 100%;
  }
}

/*TERMINA EL NAV */
/* aqui empieza footer */
.footer {
  box-shadow: 2rem 2rem 2rem 2.3rem beige;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: auto;
    width: 100%;
  }
}
.footer__bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vh;
  gap: 8rem;
}
@media screen and (max-width: 576px) {
  .footer__bloque {
    gap: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__bloque {
    margin-left: 0rem;
    gap: 3rem;
  }
}
.footer__bloque .icono {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e2e3e5;
  color: black;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .footer__lista {
    padding-left: 0rem;
    display: flex;
    gap: 1rem;
  }
}

.footer__tittle p {
  font-family: "Lora", serif;
  font-weight: bold;
}

/* aqui termina footer */
/* aqui empieza seccion contacto */
body {
  position: relative;
  min-height: 100vh;
}

.flash {
  background-image: url(https://i5.walmartimages.com.mx/mg/gm/3pp/asr/164d1634-6af7-4632-9a41-398caa15c21a.f0c37d3d20652c3b03af06709579ac6c.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}

.caja {
  margin-top: 6.5%;
}
@media screen and (max-width: 1024px) {
  .caja {
    margin: 20% auto;
  }
}
@media screen and (max-width: 576px) {
  .caja {
    margin-top: 11rem;
  }
}

.formulario {
  background-color: white;
  padding: 2rem;
  border-radius: 3%;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 576px) {
  .formulario {
    margin-top: 2rem;
  }
}
.formulario .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: black;
}

.formulario {
  box-shadow: #FFEFE8 0, 0, 0, 1.5 0px 5px 6px;
}
.formulario .form-check-input {
  font-weight: bolder;
}
.formulario .form-check-input:active {
  background-color: black;
  border-radius: none;
}

@media screen and (max-width: 1024px) {
  .footer {
    bottom: 3rem;
    position: static;
    width: 100%;
  }
}

/* aqui termina la seccion contacto */
/* EMPIEZA EL NAV */
* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}
nav .segundo {
  font-family: "Lora", serif;
  margin-left: 1rem;
}

ul li .magdalena {
  width: 1rem;
  height: 1.5rem;
  margin-left: 1rem;
}

ul .primero {
  font-family: "Lora", serif;
}
ul .primero .primero:hover {
  border-bottom: solid 2px;
  color: black;
  font-weight: bolder;
}

ul .lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}
ul .lista .iconos {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  ul .lista .iconos {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  ul .lista .iconos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    width: 100%;
  }
}

/*TERMINA EL NAV */
/* aqui empieza footer */
.footer {
  box-shadow: 2rem 2rem 2rem 2.3rem beige;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: auto;
    width: 100%;
  }
}
.footer__bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vh;
  gap: 8rem;
}
@media screen and (max-width: 576px) {
  .footer__bloque {
    gap: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__bloque {
    margin-left: 0rem;
    gap: 3rem;
  }
}
.footer__bloque .icono {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e2e3e5;
  color: black;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .footer__lista {
    padding-left: 0rem;
    display: flex;
    gap: 1rem;
  }
}

.footer__tittle p {
  font-family: "Lora", serif;
  font-weight: bold;
}

/* aqui termina footer */
/* aqui empieza la seccion de dulces tentaciones */
.aviso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30rem;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .aviso {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  .aviso {
    height: 13rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .seccion {
    margin-top: 3rem;
  }
}
.seccion .seccion_row {
  display: flex;
}
@media screen and (max-width: 768px) {
  .seccion .seccion_row {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 576px) {
  .seccion .seccion_row {
    margin-left: -0.9rem;
  }
}

.seccion {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
.seccion .seccion_elemento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  cursor: pointer;
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .seccion .seccion_elemento {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .seccion .seccion_elemento {
    width: 13rem;
    height: 14rem;
    margin-bottom: 5rem;
  }
}
.seccion .seccion_elemento .box-body {
  align-items: start;
  position: absolute;
  justify-content: center;
  width: 16rem;
  color: white;
}
@media screen and (max-width: 576px) {
  .seccion .seccion_elemento .box-body {
    width: 13rem;
  }
}

@media screen and (max-width: 576px) {
  .seccion .seccion_elemento .box {
    width: 13rem;
    height: 14rem;
  }
}

.box-body .c-text-m {
  font-size: 1.6rem;
}

.box-body .c-text {
  font-size: 1.45rem;
}

.seccion .box-body {
  opacity: 0;
}
.seccion .box-body:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.55);
}

.seccion .seccion_elemento {
  transition: box-shadow 0.3s;
  transition: transform 0.7s;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 6px;
}
.seccion .seccion_elemento:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 4px 8px gray);
}

.seccion .video {
  transition: box-shadow 0.3s;
  transition: transform 0.7s;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 6px;
  width: 14rem;
  height: 18rem;
  margin-left: 0.8rem;
}
@media screen and (max-width: 576px) {
  .seccion .video {
    width: 12rem;
    height: 16rem;
  }
}
.seccion .video:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 4px 8px gray);
}

/* aqui termina la seccion de dulces tentaciones */
/* EMPIEZA EL NAV */
* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
}
nav .segundo {
  font-family: "Lora", serif;
  margin-left: 1rem;
}

ul li .magdalena {
  width: 1rem;
  height: 1.5rem;
  margin-left: 1rem;
}

ul .primero {
  font-family: "Lora", serif;
}
ul .primero .primero:hover {
  border-bottom: solid 2px;
  color: black;
  font-weight: bolder;
}

ul .lista {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35rem;
}
ul .lista .iconos {
  width: 2.5rem;
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  ul .lista .iconos {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  ul .lista .iconos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-collapse {
    width: 100%;
  }
}

/*TERMINA EL NAV */
/* aqui empieza footer */
.footer {
  box-shadow: 2rem 2rem 2rem 2.3rem beige;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: auto;
    width: 100%;
  }
}
.footer__bloque {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vh;
  gap: 8rem;
}
@media screen and (max-width: 576px) {
  .footer__bloque {
    gap: 0rem;
  }
}
@media screen and (max-width: 768px) {
  .footer__bloque {
    margin-left: 0rem;
    gap: 3rem;
  }
}
.footer__bloque .icono {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #e2e3e5;
  color: black;
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__bloque .icono {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .footer__lista {
    padding-left: 0rem;
    display: flex;
    gap: 1rem;
  }
}

.footer__tittle p {
  font-family: "Lora", serif;
  font-weight: bold;
}

/* aqui termina footer */
/* aqui comienza la seccion tips pasteleros */
body {
  position: relative;
  min-height: 100vh;
}

.container .carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 48%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (max-width: 576px) {
  .container .carousel {
    width: 25rem;
    height: 35rem;
  }
}
@media screen and (max-width: 768px) {
  .container .carousel {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .container .carousel {
    margin-bottom: 11%;
    margin-top: 2rem;
  }
}
.container .carousel .img {
  width: 60rem;
  padding-top: 2rem;
  height: 31rem;
}
@media screen and (max-width: 768px) {
  .container .carousel .img {
    width: 100%;
    height: 24rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .container .carousel .img {
    width: 100%;
    height: 21rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .container .carousel .img {
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

/* aqui termina la seccion tips pasteleros *//*# sourceMappingURL=main.css.map */