@import "./media";
@import "./nav";
@import "./footer";

/* aqui empieza seccion contacto */

body{
    position: absolute;  
}





    .flash{
        background-image: url(https://i5.walmartimages.com.mx/mg/gm/3pp/asr/164d1634-6af7-4632-9a41-398caa15c21a.f0c37d3d20652c3b03af06709579ac6c.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF);
        background-size: cover ;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 100%;
    }



.caja{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 85vh;


@include movil{
padding-bottom: 10rem;
height: 90vh;
}

}




.formulario{

background-color: white;
padding: 1rem;
border-radius: 3%;


@include movil{
margin-top: 2rem;
}
  
        .form-control{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: black;
         }
    
}

.formulario{
    box-shadow: #FFEFE8(0, 0, 0, 1.5) 0px 5px 6px;

    .form-check-input{
    font-weight: bolder;
    
        &:active{
        background-color: black;
        border-radius: none;   
        }
    }
}


/* aqui termina la seccion contacto */